<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="_fragments :: head(~{::title})">
    <title>关于我</title>
</head>

<!--公共js导入，以下th:block生效-->
<!--/*/<th:block th:replace="_fragments :: script">/*/-->
<!--/*/</th:block>/*/-->

<body>
    <!-- 导航 -->
    <nav th:replace="_fragments :: menu(5)" class="ui inverted attached segment m-padded-tb-mini m-shadow-small">

    </nav>

    <!-- 中间内容 -->
    <div class="m-container-small m-padded-tb-large vertical">
        <!-- 分类 -->
        <div class="ui container">
            <div class="ui stackable grid">
                <div class="eleven wide column">
                    <div class="ui segment">
                        <img src="../../../../../web-blog/static/image/1.jpg" alt="" class="ui rounded image">
                    </div>
                </div>
                <div class="five wide column">
                    <div class="ui top attached segment">
                        <div class="ui header">关于我</div>
                    </div>
                    <div class="ui attached segment">
                        <p class="m-text">jasklfmldaofviovmerivjlajlsdjfklasdfjlaoirgdskjfldas</p>
                        <p class="m-text">  asdjlfasldfgjadhgkj</p>
                    </div>
                    <div class="ui attached segment">
                        <div class="ui orange basic label m-margin-tb-tiny">
                            编程
                        </div>
                        <div class="ui orange basic label m-margin-tb-tiny">
                            编程
                        </div>
                        <div class="ui orange basic label m-margin-tb-tiny">
                            编程
                        </div>
                        <div class="ui orange basic label m-margin-tb-tiny">
                            编程
                        </div>
                    </div>
                    <div class="ui attached segment">
                        <div class="ui orange basic label m-margin-tb-tiny">
                            java
                        </div>
                        <div class="ui orange basic label m-margin-tb-tiny">
                            web
                        </div>
                        <div class="ui orange basic label m-margin-tb-tiny">
                            php
                        </div>
                        <div class="ui orange basic label m-margin-tb-tiny">
                            mysql
                        </div>
                    </div>
                    <div class="ui bottom  attached segment">
                        <a href="#" target="_blank" class="ui circular icon button">
                            <i class="github icon"></i>
                        </a>
                        <a href="#" target="_blank" class="ui wechat circular icon button">
                            <i class="weixin icon"></i>
                        </a>
                        <a href="#" class="ui qq circular icon button" data-content="1234985" data-position="bottom center">
                            <i class="qq icon"></i>
                        </a>
                    </div>
                    <div class="ui wechat-qr flowing popup transition hidden">
                        <img src="../../../../../web-blog/static/image/1.jpg" alt="" class="ui rounded image" style="width: 100px;">
                    </div>
                </div>
                
            </div>
        </div>
    </div>

    <!-- 底部 -->
    <footer th:replace="_fragments :: footer" class="ui center aligned inverted vertical segment m-padded-tb-masssive">

    </footer>

</body>
<script>
    $('.menu-toggle').click(function () {
        $('.m-item').toggleClass('m-mobile-hide');
    });

    $('.qq').popup({
        
    });
    $('.wechat').popup({
        popup : $('.wechat-qr'),
        on : 'hover',
        position : 'bottom center'
    });

</script>

</html>